p {
  margin: 0px 0px;
  padding: 0px 0px;
  text-align: center;
}
div {
  height: 100%;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}

.mine {
  background-color: pink;
}
.happy {
  background-color: yellow;
}
.frog {
  font-size: 40px;
  animation: blinker 6s linear infinite;
}

@keyframes blinker {
  50% {
    opacity: 0;
  }
}
