.warning {
  padding: 10px 10px;
  top: 0;
  width: 75%;
}

.sizer {
  padding: 14px 10px;
  width: 100%;
  display: flex;
  justify-content: center;
}

app-scoreboard {
  height: 100%;
  width: 70%;
  padding: 14px 20px;
  background-color: #eee;
}

app-togglers {
  display: flex;
  width: 100%;
  margin-top: 4%;
  justify-content: center;
}
